/* CSS Reset for cross-browser consistency */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Arial', sans-serif;
  }
  
  .about {
    padding: 20px;
    background-color: black;
    color: green;
  }
  
  .about-title {
    text-align: center;
    font-size: 2em;
  }
  
  .split-about {
    display: flex;
    flex-wrap: wrap; /* Ensure a responsive layout on smaller screens */
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .left-aboutsection {
    flex: 1;
    margin-bottom: 20px;
  }
  
  .about-card {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .about-img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px 8px 0 0; /* Add rounded corners to the top */
  }
  
  .about-text {
    padding: 20px;
    background-color: darkgreen;
    border: 1px solid #333;
    border-radius: 8px;
    color: white;
    margin-bottom: 20px;
  }
  
  /* Style the avocado container */
  .avocado-container {
    background-color: #82C91E;
    padding: 10px;
    color: white;
    border-radius: 4px;
  }
  
  /* Style the navigation link */
  .back-link {
    display: block;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  /* Responsive styles for mobile */
  @media (max-width: 768px) {
    .split-about {
      flex-direction: column;
    }
  }
  