.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Adjust this value as needed */
  background-image: url('https://i.pinimg.com/564x/30/b3/0d/30b30d7a09b3e966cb13908d9b59cf70.jpg');
  background-size: cover;
  background-position: center;
  color: white; /* Change this to your desired text color */
}

.about-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about-text {
  max-width: 50%;
  text-align: center;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.5); /* Change the opacity as needed */
}

.split-about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-aboutsection,
.right-aboutsection {
  flex: 1;
}

.about-img {
  width: 100%;
  height: auto;
}
