/* Header.css */

.h-wrapper {
    background-color: green;
    padding: 10px;
}

.h-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h-menu {
    display: flex;
}

.h-menu a {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
    transition: color 0.3s ease;
}

.h-menu a:hover {
    color: #82C91E;
}

.button {
    background-color: #82C91E;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button a {
    color: #fff;
    text-decoration: none;
}

.button:hover {
    background-color: #609C13;
}

@media (max-width: 768px) {
    .h-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .h-menu {
        width: 100%;
        margin-top: 10px;
    }

    .h-menu a {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
